@model List<WebUI.Models.LocationVM>
@{ ViewData["Title"] = "ViewAllLocation"; }

<h1>Locations</h1>

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].LocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var model in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => model.LocationId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => model.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => model.Address)
    </td>
    <td>
        <button class="btn-primary">
            @Html.ActionLink("Manage", "ManageLocation", new { LocationId = model.LocationId })
        </button>
    </td>
</tr>}
    </tbody>
</table>
<div class="row mt-4 justify-content-between">
    <btn class="col-4 btn-primary" onclick="location.href='@Url.Action("AddLocation", "Admin")'">
        Add a Location
    </btn>
    <button onclick="location.href='@Url.Action("Index", "Admin")'" class="btn-primary" style="float: right;">
    Back
    </button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
